<footer class="footer-">
    <section class="footer-wrappler">
        <article id="part" class="links">
            <h4>Preguntas frecuentes</h4>
            <ul>
                <li><a href="/us#us">Nosotros</a></li>
                <li><a href="/us#payment_method">Metodos de Pago</a></li>
                <li><a href="/us#delivery">Envios</a></li>
            </ul>
        </article>
        <article id="part" class="social-media">
            <h4>Social Media</h4>
            <ul>
                <li><a href="https://www.facebook.com/focal.glow/" target="_blank"><i
                            class="fab fa-facebook-square"></i>Facebook</a></li>
                <li><a href="https://www.instagram.com/focal_glow_baires/" target="_blank"><i
                            class="fab fa-instagram"></i>Instagram</a></li>
            </ul>
        </article>
        <article id="part" class="contact">
            <h4>Contact</h4>
            <ul>
                <li><a href=""><i class="far fa-envelope"></i>E-mail</a></li>
                <li><a href=""><i class="fab fa-whatsapp"></i>Whatsapp</a></li>
            </ul>
        </article>
    </section>
</footer>