<header>
    <div class="container logo-nav-container">
        <p><a href="/"><img class="logo" src="/img/kes_sey__15_.png"></a></p>
        <nav class="navigation">
            <div id="burguer">
                <div class="dropdown">
                    <button class="dropbtn"><i id="burguer" class="fas fa-bars"></i></button>
                    <div class="dropdown-content">
                        <a href="/#mas-vendidos">Sale</a>
                        <a href="/#main-categori">Shop</a>
                        <a href="/us">Nosotros</a>
                        <!-- <a href="#">Usuario</a> -->
                        <a href="/login">Iniciar Sesión</a>
                        <a href="/registro">Registrate</a>

                        <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <ul class='inner-nav'>
                <li><a href="/#mas-vendidos">Sale</a>
                </li>
                <li><a href="/#main-categori">Shop</a>
                    <ul class='desplegable'>
                        <li><a href="/categorias/plafon">Plafón</a></li>
                        <li><a href="/categorias/apliques">Apliques</a></li>
                        <li><a href="/categorias/pie">Pie</a></li>
                        <li><a href="/categorias/colgante">Colgantes</a></li>
                        <li><a href="/categorias/spot">Spots</a></li>
                        <li><a href="/categorias/sistema">Accesorios</a></li>
                        <li><a href="/categorias/mesa">Mesa</a></li>
                        <li><a href="/categorias/exterior">Exterior</a></li>
                    </ul>
                </li>
                <li><a href="/us">Nosotros</a></li>
                <li><a href="#">Usuario</a>
                    <ul class='desplegable'>
                        <li><a href="/login">Iniciar Sesión</a></li>
                        <li><a href="/registro">Registrate</a></li>
                    </ul>
                </li>
                <li><a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>