<%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/styles-product-org.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>

            </main>
            <script src='/js/validationCreateProductForm.js'></script>
            <%- include('../partials/footer.ejs')%>
    </body>

</html>