<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <!---Al estar declarado en app.js el path.resolve(__dirname,'./public'), solo se indica lo que sigue a la ruta-->
    <title>Focal Glow</title>
    <link rel="icon" href="/icon/logo.ico">
    <link rel="stylesheet" href="/css/normalize">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/style_categories.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
    </style>
</head>

<body>
    <header class="header">
        <div class="container logo-nav-container">
            <p><a href="/"><img class="logo" src="/img/kes_sey__15_.png"></a></p>
            <nav class="navigation">
                <ul class='inner_nav'>
                    <li><a href="#mas_vendidos">Ofertas</a>
                    </li>
                    <li><a href="#">Categorias</a>
                          <ul class='desplegable'>
                            <li><a href="">Plafón</a></li>
                            <li><a href="">Apliques</a></li>
                            <li><a href="">Pie</a></li>
                            <li><a href="">Colgantes</a></li>
                            <li><a href="">Spots</a></li>
                            <li><a href="">Accesorios</a></li>
                            <li><a href="">Mesa</a></li>
                            <li><a href="">Exterior</a></li>
                        </ul> 
                    </li>
                    <li><a href="/us">Nosotros</a></li>
                    <li><a href="#">Usuario</a>
                        <ul class='desplegable'>
                            <li><a href="/login">Iniciar Sesión</a></li>
                            <li><a href="">Registrate</a></li>
                        </ul>
                    </li>
                    <li><a href="/checkout">Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="main_slider">
        <div class='slider'>
            <ul>
                <li><img src="/img/colgantes1.jpg" alt=""></li>
                <li><img src="/img/colgantes2.jpg" alt=""></li>
                <li><img src="/img/colgantes3.jpg" alt=""></li>

            </ul>

        </div>
    </section>

    <section class="diferent_categories">
            <article >
                <h2 id="plafon">Plafon</h2>
               <ul  class="item_list"> 
                <li><img src="/img/plafon.jpg" alt=""></li>
                <li><img src="/img/plafon.jpg" alt=""></li>
                <li><img src="/img/plafon.jpg" alt=""></li>
                <li><img src="/img/plafon.jpg" alt=""></li>
                <li><img src="/img/plafon.jpg" alt=""></li>
                <li><img src="/img/plafon.jpg" alt=""></li>
                <li><img src="/img/plafon.jpg" alt=""></li>
                <li><img src="/img/plafon.jpg" alt=""></li>
               </ul> 
            </article>
            <article >
                <h2 id="aplique">Aplique</h2>
                <ul class="item_list">
                <li><img src="/img/aplique.jpg" alt=""></li>
                <li><img src="/img/aplique.jpg" alt=""></li>
                <li><img src="/img/aplique.jpg" alt=""></li>
                <li><img src="/img/aplique.jpg" alt=""></li>
                <li><img src="/img/aplique.jpg" alt=""></li>
                <li><img src="/img/aplique.jpg" alt=""></li>
                <li><img src="/img/aplique.jpg" alt=""></li>
                <li><img src="/img/aplique.jpg" alt=""></li>
                </ul>
            </article>
            <article id="pie">
                <h2>Pie</h2>
                <ul class="item_list">
                <li><img src="/img/pie.jpg" alt=""></li>
                <li><img src="/img/pie.jpg" alt=""></li>
                <li><img src="/img/pie.jpg" alt=""></li>
                <li><img src="/img/pie.jpg" alt=""></li>
                <li><img src="/img/pie.jpg" alt=""></li>
                <li><img src="/img/pie.jpg" alt=""></li>
                <li><img src="/img/pie.jpg" alt=""></li>
                <li><img src="/img/pie.jpg" alt=""></li>
                </ul>
            </article>
            <article id="colgante">
                <h2>Colgante</h2>
                <ul class="item_list">
                <li><img src="/img/colgante.jpg" alt=""></li>
                <li><img src="/img/colgante.jpg" alt=""></li>
                <li><img src="/img/colgante.jpg" alt=""></li>
                <li><img src="/img/colgante.jpg" alt=""></li>
                <li><img src="/img/colgante.jpg" alt=""></li>
                <li><img src="/img/colgante.jpg" alt=""></li>
                <li><img src="/img/colgante.jpg" alt=""></li>
                <li><img src="/img/colgante.jpg" alt=""></li>
                </ul>
            </article>
            <article id="embutido">
                <h2>Spot</h2>
                <ul class="item_list">
                <li><img src="/img/spot-embutido.jpg" alt=""></li>
                <li><img src="/img/spot-embutido.jpg" alt=""></li>
                <li><img src="/img/spot-embutido.jpg" alt=""></li>
                <li><img src="/img/spot-embutido.jpg" alt=""></li>
                <li><img src="/img/spot-embutido.jpg" alt=""></li>
                <li><img src="/img/spot-embutido.jpg" alt=""></li>
                <li><img src="/img/spot-embutido.jpg" alt=""></li>
                <li><img src="/img/spot-embutido.jpg" alt=""></li>
                </ul>
            </article>
            <article id="sistema">
                <h2>Sistemas/Accesorios</h2>
                <ul class="item_list">
                <li><img src="/img/sistema.jpg" alt=""></li>
                <li><img src="/img/sistema.jpg" alt=""></li>
                <li><img src="/img/sistema.jpg" alt=""></li>
                <li><img src="/img/sistema.jpg" alt=""></li>
                <li><img src="/img/sistema.jpg" alt=""></li>
                <li><img src="/img/sistema.jpg" alt=""></li>
                <li><img src="/img/sistema.jpg" alt=""></li>
                <li><img src="/img/sistema.jpg" alt=""></li>
                </ul>
            </article>
            <article id="mesa">
                <h2>Mesa</h2>
                <ul class="item_list">
                <li><img src="/img/mesa.jpg" alt=""></li>
                <li><img src="/img/mesa.jpg" alt=""></li>
                <li><img src="/img/mesa.jpg" alt=""></li>
                <li><img src="/img/mesa.jpg" alt=""></li>
                <li><img src="/img/mesa.jpg" alt=""></li>
                <li><img src="/img/mesa.jpg" alt=""></li>
                <li><img src="/img/mesa.jpg" alt=""></li>
                <li><img src="/img/mesa.jpg" alt=""></li>
                </ul>
            </article>
            <article id="exterior">
                <h2>Exterior</h2>
                <ul class="item_list">
                <li><img src="/img/exterior.jpg" alt=""></li>
                <li><img src="/img/exterior.jpg" alt=""></li>
                <li><img src="/img/exterior.jpg" alt=""></li>
                <li><img src="/img/exterior.jpg" alt=""></li>
                <li><img src="/img/exterior.jpg" alt=""></li>
                <li><img src="/img/exterior.jpg" alt=""></li>
                <li><img src="/img/exterior.jpg" alt=""></li>
                <li><img src="/img/exterior.jpg" alt=""></li>
                </ul>
            </article>
    </section>

</body>

</html>