<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <!---Al estar declarado en app.js el path.resolve(__dirname,'./public'), solo se indica lo que sigue a la ruta-->
    <title>Focal Glow</title>
    <link rel="icon" href="/icon/logo.ico">
    <link rel ="stylesheet" href = "/css/normalize">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <p><a href="/"><img class="logo" src="/img/kes_sey__15_.png"></a></p>
            <nav class="navigation">
                <ul class='inner_nav'>
                    <li><a href="#mas_vendidos">Ofertas</a>
                    </li>
                    <li><a href="#categorias">Categorias</a>
                         <ul class='desplegable'>
                            <li><a href="">Plafón</a></li>
                            <li><a href="">Apliques</a></li>
                            <li><a href="">Pie</a></li>
                            <li><a href="">Colgantes</a></li>
                            <li><a href="">Spots</a></li>
                            <li><a href="">Accesorios</a></li>
                            <li><a href="">Mesa</a></li>
                            <li><a href="">Exterior</a></li>
                        </ul> 
                    </li>
                    <li><a href="/us">Nosotros</a></li>
                    <li><a href="#">Usuario</a>
                        <ul class='desplegable'>
                            <li><a href="/login">Iniciar Sesión</a></li>
                            <li><a href="">Registrate</a></li>
                        </ul>
                    </li>
                    <li><a href="/checkout">Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="principal">
        <div class="contenedor-producto-all">
        <div class="contenedor-producto">
            <div class="imagen-producto">
                <img src="/img/Barcelona.jpg">
            </div>
            <div class="probando-alineado">
        <div class="producto-categoria">
            <div class="nombreproducto">${PRODUCTO}</br></div>
            <div class="categoria">${CATEGORIA}</div>
    </div>
        <div class="detalle-producto">
        <div class="item">
            <span>Marca: Saraza</span>
            <br>
            <span>Algun dato mas?: Quizá</span>
        </div>
        <div class="item">
            <div>Precio unitario: $1000</div>
            <div>Cantidad: 2</div>
            <span>Total: $2000</span>
        </div>
        <span class="eliminar-producto">
            <img src="/icon/eliminar.png">
            <span>Eliminar</span>
        </span>
    </div>

    
</div>
    
        
         </div>
         <div class="contenedor-producto">
            <div class="imagen-producto">
                <img src="/img/Barcelona.jpg">
            </div>
            <div class="probando-alineado">
        <div class="producto-categoria">
        <div class="nombreproducto">${PRODUCTO}</br></div>
        <div class="categoria">${CATEGORIA}</div>
    </div>
        <div class="detalle-producto">
        <div class="item">
            <div>Marca: Saraza</div>
            <div>Algun dato mas?: Quizá</div>
        </div>
        <div class="item">
            <span>Precio unitario: $1000</span>
            <br>
            <span>Cantidad: 2</span>
            <br>
            <span>Total: $2000</span>
        </div>
        <span class="eliminar-producto">
            <img src="/icon/eliminar.png">
            <span>Eliminar</span>
        </span>
    </div>

    
</div>
    
        
         </div>
        </div>
        <div class="columna-derecha">
        <!--empieza cuadro checkout-->
    <div class="contenedor-checkout">
        <div class="checkout">CHECKOUT</div>
        <div class="total">
            <div class="total-productos">Total productos: 2</br></div>
            <div class="total-compra">Total de tu compra: $1800</div>
        </div>
        <div>
            <div class="advertencia">
                Verifica cuidadosamente el detalle de tu pedido antes de dar el siguiente paso
            </div>
            <div>
                <button class="continuar">Continuar</button>
        </div>
    </div>
</div>
<!--empieza puede-->
<div>Te puede interesar</div>
<div>
    <section class="main_slider-mini">
        <div class='slider-mini'>
            <ul>
                <li><img src="/img/colgante.jpg" alt=""></li>
                <li><img src="/img/coral.jpg" alt=""></li>
                <li><img src="/img/delfina.jpg" alt=""></li>

            </ul>

        </div>
    </section>
</div>
</div>
</div>
    
</body>