<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!---Al estar declarado en app.js el path.resolve(__dirname,'./public'), solo se indica lo que sigue a la ruta-->
    <title>Focal Glow</title>
    <link rel="icon" href="/icon/logo.ico">
</head>

<body>
    <header class="header">
        <div class="container logo-nav-container">
            <p><a href="/"><img class="logo" src="/img/kes_sey__15_.png"></a></p>
            <nav class="navigation">
                <ul class='inner_nav'>
                    <li><a href="#">Ofertas</a>
                    </li>
                    <li><a href="#">Categorias</a>
                        <ul class='desplegable'>
                            <li><a href="">Plafón</a></li>
                            <li><a href="">Apliques</a></li>
                            <li><a href="">Pie</a></li>
                            <li><a href="">Colgantes</a></li>
                            <li><a href="">Spots</a></li>
                            <li><a href="">Accesorios</a></li>
                            <li><a href="">Mesa</a></li>
                            <li><a href="">Exterior</a></li>
                        </ul>
                    </li>
                    <li><a href="/us">Nosotros</a></li>
                    <li><a href="#">Usuario</a>
                        <ul class='desplegable'>
                            <li><a href="/login">Iniciar Sesión</a></li>
                            <li><a href="">Registrate</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <div class='slider'>
            <ul>
                <li><img src="/img/colgantes1.jpg" alt=""></li>
                <li><img src="/img/colgantes2.jpg" alt=""></li>
                <li><img src="/img/colgantes3.jpg" alt=""></li>

            </ul>

        </div>
    </section>
    <main class="main">
        <section class="categorias">
            <div>
                <img class="zoom" src="/img/plafon.jpg" alt="Plafon">
                <img class="zoom" src="/img/aplique.jpg" alt="Aplique">
                <img class="zoom" src="/img/pie.jpg" alt="Pie">
                <img class="zoom" src="/img/colgante.jpg" alt="Colgante">
            </div>
            <div>
                <img class="zoom" src="/img/spot-embutido.jpg" alt="Spot">
                <img class="zoom" src="/img/sistema.jpg" alt="Sistema">
                <img class="zoom" src="/img/mesa.jpg" alt="mesa">
                <img class="zoom" src="/img/exterior.jpg" alt="Exterior">
            </div>
        </section>
    </main>

    <section class="mas vendidos">
        <div>

        </div>
    </section>



    <footer class="footer">
        <div class="container">
            <p>Pagina de prueba</p>
        </div>
    </footer>
</body>

</html>