<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<header class="header">
    <div class="container logo-nav-container">
        <p><a href="/testing_fg/views/home.html"><img class="logo" src="/img/kes_sey__15_.png"></a></p>
        <nav class="navigation">
            <ul class='inner_nav'>

                <li><a href="#">Categorias</a>
                    <ul class='desplegable'>
                        <li><a href="">Plafón</a></li>
                        <li><a href="">Apliques</a></li>
                        <li><a href="">Pie</a></li>
                        <li><a href="">Colgantes</a></li>
                        <li><a href="">Spots</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Mesa</a></li>
                        <li><a href="">Exterior</a></li>
                    </ul>
                </li>
                <li><a href="./views/us.html">Nosotros</a></li>
                <li><a href="#">Usuario</a>
                    <ul class='desplegable'>
                        <li><a href="./views/login.html">Iniciar Sesión</a></li>
                        <li><a href="">Registrate</a></li>
                    </ul>
                </li>
                <li><a href="#">Carrito</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>