<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-login.css">
</head>

<body>

    <div class="container">
     
        <section class="login-form">

            <div class="form-container">
                <span>Email</span>
                <br>
                <input class="input-login" type="text" name="email">
                <br>
                <span>Contraseña</span>
                <br>
                <input class="input-login" type="text" name="password">

            </div>
            <div class="button-container">
                <button class="login-button">Ingresar</button>
                <br>
                <button class="login-button">Crear Cuenta</button>
                <br>
            </div>
            <span>Olvide mi usuario</span>
            <span>Olvide mi contraseña</span>

        </section>
    </div>
</body>

</html>