<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focal Glow Login</title>
    <link rel="icon" href="/icon/logo.ico">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-login.css">
    <link rel="stylesheet" href="/css/styles-header-login.css">
</head>

<body>
    <header class="header">
        <div class="logo-nav-container">
            <p><a href="/"><img class="logo" src="/img/logo_sinfondo.png"></a></p>

        </div>
    </header>


    <main class="container-login">
        <form class="login-form">

            <div class="form-container">
                <label for="email">Email</label>
                <br>
                <input class="input-login" type="email" name="email" id="email">
                <br>
                <label for="password">Contraseña</label>
                <br>
                <input class="input-login" type="password" name="password" id=password>
            </div>
            <label class="remember" value="recordar">
                <input type="checkbox" name="recordar">Recordar mi usuario y contraseña
            </label>
            <div class="button-container">
                <button type="submit" class="login-button">Ingresar</button>
                <br>
                <button type="submit" class="login-button">Crear Cuenta</button>
                <br>
            </div>
            <div class="forgotten-button">
                <span><a href="#">Olvidé mi usuario |</a></span>
                <span><a href="#">Olvide mi contraseña</a></span>
                <br>
                <span class="error-data">El mail o la contraseña son incorrectos</span>

            </div>
                <a class="back" href="/">Volver</a>

        </form>


        </div>
</body>

</html>