<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Product Detail</title>
  <link rel = "icon" type="ico" href="/icon/logo.ico">
  <script src="https://kit.fontawesome.com/3f6f16c204.js" crossorigin="anonymous"></script>
  
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel = "stylesheet" href = "/css/normalize.css" type="text/css">
  <link rel = "stylesheet" href = "/css/styles-checkout-header.css">
  <link rel = "stylesheet" href ="css/styles-checkout-footer.css">
  <link rel = "stylesheet" href = "/css/style-product-detail.css">
  
  
</head>

<body>

  <header>
    <div class="container logo-nav-container">
      <p><a href="/"><img class="logo" src="/img/kes_sey__15_.png"></a></p>
      <nav class="navigation">
        <div id="burguer">
          <div class="dropdown">
            <button class="dropbtn"><i id="burguer" class="fas fa-bars"></i></button>
            <div class="dropdown-content">
                  <a href="#mas-vendidos">Sale</a>
                  <a href="#main-categori">Shop</a>
                  <a href="/us">Nosotros</a>
                  <a href="/login">Iniciar Sesión</a>
                  <a href="/registro">Registrate</a>
                  <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </div>  
        </div>
        <ul class='inner-nav'>
            <li><a href="#mas-vendidos">Sale</a></li>
            <li><a href="#main-categori">Shop</a>
              <ul class='desplegable'>
                <li><a href="/categorias/plafon">Plafón</a></li>
                <li><a href="/categorias/apliques">Apliques</a></li>
                <li><a href="/categorias/pie">Pie</a></li>
                <li><a href="/categorias/colgante">Colgantes</a></li>
                <li><a href="/categorias/spot">Spots</a></li>
                <li><a href="/categorias/sistema">Accesorios</a></li>
                <li><a href="/categorias/mesa">Mesa</a></li>
                <li><a href="/categorias/exterior">Exterior</a></li>
              </ul>
            </li>
            <li><a href="/us">Nosotros</a></li>
            <li><a href="#">Usuario</a>
              <ul class='desplegable'>
                <li><a href="/login">Iniciar Sesión</a></li>
                <li><a href="">Registrate</a></li>
              </ul>
            </li>
            <li><a href="/checkout"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="product-name">
    <h2>Nombre del Producto</h2>
    <a href="/"><i id ="x" class="fas fa-times"></i></a>      
  </div>
 
  <main> 
    <div class ="product-detail">
      <div class = "main-img">
        <img src = "img/product_main.jpg" alt = "luminaria">
      </div>
      <i class="fas fa-ruler"></i>
      <div class = "product-dimensions">
        <img src = "img/product_dimensions.jpg" alt = "dimensiones luminaria">
      </div>

      <div class="slider-container">
        <div class="slides">
          <input type="radio" name="r" id="r1" checked>
          <input type="radio" name="r" id="r2">
          <input type="radio" name="r" id="r3">
          <input type="radio" name="r" id="rp">
          <input type="radio" name="r" id="rn">
 
          <div class="slide s1">
            <img src="img/slider_1.jpg" alt="">
          </div>
          <div class="slide">
            <img src="img/slider_2.jpg" alt="">
          </div>
          <div class="slide">
            <img src="img/slider_3.jpg" alt="">
          </div>
        </div>

        <!-- Next and previous buttons -->
        <label for="rp" class="prev">&#10094;</label>
        <label for="rn" class="next">&#10095;</label>

        <!-- Slider buttons -->
        <div class="dots-container">
          <label for="r1" class="dot"></label>
          <label for="r2" class="dot"></label>
          <label for="r3" class="dot"></label>
        </div>
      </div>
    </div>      
     

    <div class ="product-info">
      <section class = "technical-info">
        <div class="options">
          <div class="options-power-cct">
            <select name = "power" class ="options-control">
              <option value="10W">10W</option>
              <option value="20W">20W</option>
              <option value="30W">30W</option>
            </select>
            <select name = "cct" class ="options-control">
              <option value="3000K">3000K</option>
              <option value="4000K">4000K</option>
            </select>    
          </div>  

          <select name = "dim" class ="options-control-dim">
              <option value="switch" id="off-icon">&#xf011; Switch</option>
              <option value="dim">Dimeable</option>
              <option value="dali">DALI</option>
              <option value="bt" id="bt-icon">&#xf293; Bluetooth</option>
          </select> 
        </div>
    
        <article class = "technical-data">
          <h3>Características</h3>
          <ul>
            <li>Fuente: LED</li>
            <li>Material: Aluminio</li>
            <li>Óptica: Flood</li>
            <li>Potencia [W]: <em>Seleccionar opción</em></li>
            <li>CCT: <em>Seleccionar opción</em></li>
            <li>Dim: <em>Seleccionar opción</em></li>
          </ul>
        </article>
      </section>
  
      <section class = "price">
        <h3 class="price-title">$14.500</h3>
        <div class="qtyadd">
          <input type="number" placeholder="1" min="0">
          <button class="add">AÑADIR</button>
        </div>
      </section>

      <div class = "product-dimensions-info">
        <img src = "img/product_dimensions.jpg" alt = "dimensiones luminaria">
        <span>Dimensiones</span>
      </div>
  
      <section class = "documents">
        <span><i class="far fa-file-pdf"></i>  Hoja Técnica</span>
        <span><i class="far fa-file-pdf"></i>  Manual de Instalación</span>
      </section>
    </div>  
  </main>

  <section class = "similar-products-container">
    <article class = "similar-products">
      <h3>Productos Similares</h3>
      <div class="slider-container-2">
        <div class="slides-2">
          <input type="radio" name="r" id="r1-2" checked>
          <input type="radio" name="r" id="r2-2">
          <input type="radio" name="r" id="r3-2">
          <input type="radio" name="r" id="rp-2">
          <input type="radio" name="r" id="rn-2">
 
          <div class="slide s2">
            <img src="img/similar_products_1.jpg" alt="">
          </div>
          <div class="slide-2">
            <img src="img/similar_products_2.jpg" alt="">
          </div>
          <div class="slide-2">
            <img src="img/similar_products_3.jpg" alt="">
          </div>
        </div>

        <!-- Next and previous buttons -->
        <div class = prev-next-buttons-2>
          <label for="rp-2" class="prev">&#10094;</label>
          <label for="rn-2" class="next">&#10095;</label>
        </div>
        

        <!-- Slider buttons -->
        <div class="dots-container-2">
          <label for="r1-2" class="dot"></label>
          <label for="r2-2" class="dot"></label>
          <label for="r3-2" class="dot"></label>
        </div>
      </div>
    </article>
  </section>


  <footer class="footer-">
    <section class="footer-wrappler">
     <article id="part" class="links">
      <h4>Preguntas frecuentes</h4>
      <ul>
        <li><a href="/us#us">Nosotros</a></li>
        <li><a href="/us#payment_method">Metodos de Pago</a></li>
        <li><a href="/us#delivery">Envios</a></li>
      </ul>
      </article>

      <article id="part" class="social-media">
        <h4>Social Media</h4>
        <ul>
          <li><a href="https://www.facebook.com/focal.glow/" target="_blank"><i class="fab fa-facebook-square"></i>Facebook</a></li>
          <li><a href="https://www.instagram.com/focal_glow_baires/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a></li>
        </ul>
      </article>

      <article id="part" class="contact">
        <h4>Contact</h4>
        <ul>
          <li><a href=""><i class="far fa-envelope"></i>E-mail</a></li>
          <li><a href=""><i class="fab fa-whatsapp"></i>Whatsapp</a></li>
        </ul>
      </article>
    </section>
  </footer>

</body>
</html>



