<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Detail</title>
  <script src="https://kit.fontawesome.com/3f6f16c204.js" crossorigin="anonymous"></script>
  <link rel = "icon" href = "/icon/logo.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel = "stylesheet" href = "/css/normalize.css">
  <link rel = "stylesheet" href = "/css/styles.css">
  <link rel = "stylesheet" href = "/css/styleProductDetail.css">
</head>

<body>
  <header class="header">
    <div class="container logo-nav-container">
        <a href="/"><img class="logo" src="/img/kes_sey__15_.png"></a>
    </div>
  </header>

  <div class ="global">
    <div class="product_name">
      <h2>Nombre del Producto</h2>
      <i id ="x" class="fas fa-times"></i>
    </div>
    
    <div>
      <main>
        <div class ="product_detail">
          <img src = "img/productDetails/tolomeo_tavolo_image4753388-960x960.jpg" alt = "luminaria">
          <div class = "product_application">
            <img src = "img/productDetails/tolomeo_tavolo_gallery4872596-1920x1080.jpg" alt = "luminaria">
          <!--  <ul>
              <li><img src = "img/productDetails/tolomeo_tavolo_gallery4872596-1920x1080.jpg" alt = "luminaria"></li>
              <li><img src = "img/productDetails/tolomeo_tavolo_gallery4751037-1920x1080.jpg" alt = "luminaria"></li>
              <li><img src = "img/productDetails/tolomeo_tavolo_gallery4872598-1920x1080.jpg" alt = "luminaria"></li>
              <li><img src = "img/productDetails/tolomeo_tavolo_gallery4872599-1920x1080.jpg" alt = "luminaria"></li>
            </ul>
           -->  
          </div>
        </div>
      </main>
      
      <aside class = "technical_info">
        <div class="options">  
          <button>Potencia</button>
          <button>CCT</button>
          <button>Dim</button> 
        </div>
    
        <article class = "technical_data">
          <h3>Características</h3>
          <ul>
            <li>Fuente: LED</li>
            <li>Material: Aluminio</li>
            <li>Óptica: Flood</li>
            <li>Potencia: 14W</li>
            <li>CCT: 3000K</li>
            <li>Dim: Push</li>
          </ul>
        </article>

        <div class = price_documents>

          <div class="bag-container"><span class="quantity-label">Quantity</span><div class="pdp-quantity"><div class="pdp-quantity__dropdown pdp-mfe-erlhc1"><span id="described-by" class="pdp-mfe-1laao21-a11yText">Select a quantity</span><button aria-busy="false" aria-describedby="described-by" aria-expanded="false" aria-haspopup="listbox" aria-invalid="false" aria-label="1" aria-live="assertive" aria-relevant="text" class="pdp-quantity__control pdp-mfe-12cbld1" data-toggle="true" type="button">1</button><ul class="pdp-quantity__menu pdp-mfe-11uyujn" role="listbox" tabindex="-1"></ul></div></div><div class="buy-box--addtobag" id="addToBag"><button aria-label="Add to bag. This button will add the item to your bag and open a dialog window. After opening press tab to move context to dialog." class="buy-box-add-to-bag" type="button">Add to Bag</button></div></div>

          <section class="price">
            <h3 id="price">Precio: $4.500</h3>
            <button id="add">AÑADIR</button>
          </section>
  
          <section class = "documents">
            <span><i class="far fa-file-pdf"></i>  Hoja Técnica</span>
            <span><i class="far fa-file-pdf"></i>  Descargar Manual de Instalación</span>
          </section>
        </div>

        
        

    
        <section class = "similar_products">
          <h3>Productos Similares</h3>
          <div class = "sliderProducts">
            <img src = "img/productDetails/tolomeo_tavolo_1851150-480x480.jpg" alt = "luminaria">
          </div>
        </section>
        
      </aside>
    </div>
  </div>
  
  
  



</body>
</html>



