<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Detail</title>
  <script src="https://kit.fontawesome.com/3f6f16c204.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/icon/logo.ico">
  <link rel ="stylesheet" href = "/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="header">
    <div class="container logo-nav-container">
        <p><a href="/"><img class="logo" src="/img/kes_sey__15_.png"></a></p>
    </div>
  </header>


  <section>
    <h2>Nombre del Producto</h2>
    <img src = "img/productDetails/tolomeo_tavolo_image4753388-960x960.jpg" alt = "luminaria">
    <div class = "slider">
      <ul>
        <li><img src = "img/productDetails/tolomeo_tavolo_gallery4872596-1920x1080.jpg" alt = "luminaria"></li>
        <li><img src = "img/productDetails/tolomeo_tavolo_gallery4751037-1920x1080.jpg" alt = "luminaria"></li>
        <li><img src = "img/productDetails/tolomeo_tavolo_gallery4872598-1920x1080.jpg" alt = "luminaria"></li>
        <li><img src = "img/productDetails/tolomeo_tavolo_gallery4872599-1920x1080.jpg" alt = "luminaria"></li>
      </ul>
    </div>
  </section>
  
  <section>
    <button>Potencia</button>
    <p>CCT</p>
    <p>Dim</p>
    <article class = "technical_data">
      <h3>Características</h3>
      <ul>
        <li>Fuente: LED</li>
        <li>Material: Aluminio</li>
        <li>Óptica: Flood</li>
        <li>Potencia: 14W</li>
        <li>CCT: 3000K</li>
        <li>Dim: Push</li>
      </ul>
    </article>
    
    <h3>Precio: $4.500</h3>
    <button>AÑADIR</button>
    
    <div>
      <p><i class="far fa-file-pdf"></i>  Hoja Técnica</p>
      <p><i class="far fa-file-pdf"></i>  Descargar Manual de Instalación</p>
    </div>

    
  </section>
  
  <section>
    <h3>Productos Similares</h3>
    <div class = "slider">
      <ul>
        <li><img src = "img/productDetails/tolomeo_tavolo_1851150-480x480.jpg" alt = "luminaria"></li>
        <li><img src = "img/productDetails/tolomeo_tavolo_1851169-480x480.jpg" alt = "luminaria"></li>
        <li><img src = "img/productDetails/tolomeo_tavolo_4854964-480x480.jpg" alt = "luminaria"></li>
      </ul>
    </div>
  </section>


</body>
</html>



