<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Product Detail</title>
  <script src="https://kit.fontawesome.com/3f6f16c204.js" crossorigin="anonymous"></script>
  <link rel = "icon" href = "/icon/logo.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel = "stylesheet" href = "/css/normalize.css">
  <link rel = "stylesheet" href = "/css/style-product-detail.css">
</head>

<body>
  
  <header>
    
   <a href="/"><img class="logo" src="/img/kes_sey__15_.png"></a>
  
  </header>

  
    <div class="product_name">
      <h2>Nombre del Producto</h2>
      <a href="/"><i id ="x" class="fas fa-times"></i></a>      
    </div>

  <main> 
    <div class ="product_detail">
      <div class = "main_img">
        <img src = "img/tolomeo_tavolo_image4753388-960x960.jpg" alt = "luminaria">
      </div>
      

      <div class = "slider1">
        <div class ="slide" id="slide_1">
          <img src ="img/tolomeo_tavolo_gallery4872596-1920x1080.jpg">
        </div>
        <div class ="slide" id="slide_2">
          <img src ="img/tolomeo_tavolo_gallery4872598-1920x1080.jpg">
        </div>
        <div class ="slide" id="slide_3">
          <img src ="img/tolomeo_tavolo_gallery4872599-1920x1080.jpg">
        </div>
      </div>
    </div>

    <div class ="product_info">
      <section class = "technical_info">
        <div class="options">  
          <select name = "power" class ="options-control">
            <option value="10W">10W</option>
            <option value="20W">20W</option>
            <option value="30W">30W</option>
          </select>

          <select name = "cct" class ="options-control">
            <option value="3000K">3000K</option>
            <option value="4000K">4000K</option>
          </select>
          <select name = "dim" class ="options-control">
            <option value="switch" id="off-icon">&#xf011; Switch</option>
            <option value="dim">Dimeable</option>
            <option value="dali">DALI</option>
            <option value="bt" id="bt-icon">&#xf293; Bluetooth</option>
          </select>
          
        </div>
    
        <article class = "technical_data">
          <h3>Características</h3>
          <ul>
            <li>Fuente: LED</li>
            <li>Material: Aluminio</li>
            <li>Óptica: Flood</li>
            <li>Potencia [W]: <em>Seleccionar opción</em></li>
            <li>CCT: <em>Seleccionar opción</em></li>
            <li>Dim: <em>Seleccionar opción</em></li>
          </ul>
        </article>
      </section>
  
      <section class = "price">
        <h3 id="price">$14.500</h3>
        <div class="qtyadd">
          <input type="number" placeholder="1">
          <button id="add">AÑADIR</button>
        </div>
  
      </section>
  
      <section class = "documents">
        <span><i class="far fa-file-pdf"></i>  Hoja Técnica</span>
        <span><i class="far fa-file-pdf"></i>  Manual de Instalación</span>
      </section>
    </div>  
  </main>

  <footer>
    <section class = "similar_products">
      <h3>Productos Similares</h3>
      <div class = "slider2">
        <div class ="slide2" id="slide_1">
            <img src ="img/tolomeo_tavolo_1851150-480x480.jpg">
        </div>
        <div class ="slide2" id="slide_2">
            <img src ="img/tolomeo_tavolo_1851169-480x480.jpg">
        </div>
        <div class ="slide2" id="slide_3">
            <img src ="img/tolomeo_tavolo_4854964-480x480.jpg">
        </div>
      </div>
    </section>
  </footer>

</body>
</html>



