<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!---Al estar declarado en app.js el path.resolve(__dirname,'./public'), solo se indica lo que sigue a la ruta-->
    <title>Focal Glow</title>
</head>
<header class="header">
    <div class="container logo-nav-container">
        <p><img class="logo" src="/img/kes_sey__15_.png"></p>
        <nav class="navigation">
            <ul class='inner_nav'>

                <li><a href="#">Categorias</a></li>
                <li><a href="/testing_fg/views/us.html">Nosotros</a></li>
                <li><a href="#">Usuario</a>
                    <ul class='desplegable'>
                        <li><a href="">Iniciar Sesión</a></li>
                        <li><a href="">Registrate</a></li>
                    </ul>
                </li>
                <li><a href="#">Carrito</a></li>
            </ul>
        </nav>
    </div>
</header>
<section>
    <div class='slider'>
        <ul>
            <li><img src="/img/colgantes1.jpg" alt=""></li>
            <li><img src="/img/colgantes2.jpg" alt=""></li>
            <li><img src="/img/colgantes3.jpg" alt=""></li>

        </ul>

    </div>
</section>
<main class="main">
    <div class="container">
        <p>Hola como estas </p>
    </div>
</main>

<body>

</body>

<footer class="footer">
    <div class="container">
        <p>Pagina de prueba</p>
    </div>
</footer>

</html>