.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid 2px black;
    border-bottom:solid 2px black ;
    flex-grow: inherit;
    background-color: #E5E5E5;
    
}

.banner-box{
    margin: 0 2vw;
}  

.banner-box a{
    text-decoration: none;
}

.banner-content{
    text-decoration: none;
    margin: 1vh 0;
}

@media (max-width: 952px){
    .banner {
    display: flex;
    flex-direction: row;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-align: center;
}
    
    
}
@media (max-width: 576px){
    .banner-box{
        width: 30%;
    }
    .banner{
    flex-direction: row;
    line-height: 12px;
    font-size: 9px;
    }
}