*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*Define las caracteristicas del body
fuente / tamaño / interlineado y margenes*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height:1.6em;
    margin: 0;
    background-image: url(/img/fondo2.jpg);
    
}






/*aca empieza el main*/
main {
    margin: 0 auto;
    text-align: center;
}
.main-wrapper{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}
.aside-image img{
    width: 100%;
}
main h2{
        text-align: center;
        
        font-size: 2em;
        color: black;
}
    
.aside-text p {
        text-align: justify;
        background-color: #ffde59; 
        padding: 20px 10px;
        margin: 0;
    }



@media (min-width: 768px){
    .main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 64px;
    
    }

    .aside-text {
        text-align: justify;
        margin: 0;
        width: 60%;
        max-height: 255px;
        overflow: scroll;
    }
    .aside-text p {
        background-color: #ffffff;
        text-align: left;
    }
    .aside-image {
    width: 40%
    
    }  
}

@media (min-width: 1024px){
    .aside-text {
        max-height: 340px;
    }
}