*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height:1.6em;
    margin: 0;
    background-image: url(/img/fondo2.jpg);
    
}
.titulo{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 20px;
    line-height: 34px;
}
.container-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
#register{
    display: flex;
    width: 100%;
    
    padding: 2%;
    /* margin-bottom: 2%; */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    /* border: solid 3px #1259c3;
    border-radius: 6px; */
    
}
label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.first- {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.box {
    border: 0;
    height: 30px;
   
}
.otros-materiales{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-1{
    height: 20px;
}
.check{
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 10px;
}
.radio{
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 9px;
}
.button-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 35px;
        margin-top: 15px;
    }
#button-enviar{
        width: 40%;
        border-radius: 5px;
        transition: 0.3s;
        
}
#button-borrar{
        width: 30%;
        border-radius: 5px;
        transition: 0.3s;
}    
#button-enviar:hover{
    background-color: #ffde59;
    color: black;
    box-shadow: 5px 5px 10px black;
}
#button-borrar:hover{
    background-color: red;
    color: white;
    box-shadow: 5px 5px 10px black;
}

@media(min-width: 361px){
    
    #register{
    display: flex;
    width: 100%;
   
    padding: 2%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    }
    
}

@media(min-width: 769px){
    
    .in-line-data{
        display: block;
        width: 300px;
    }
    .category-selector{
        width: 100%;
    }
}
@media(min-width: 1000px){
    #register {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap; 
    align-content: center;
    
    }

     .category-selector{
        width: 100%;
    }
    .form_left{
        width: 50%;
        border-right: 1px solid black;
    }
    .form_right{
        width: 50%;
        padding-left: 5%;

    }
    .price{
        width: 30%;
    }
    .box {
    border: 0;
    height: 30px;
    width: 100%;
    margin-left: 2px;
    margin-top: 5px;
    }
    .imagenes{
        display: flex;
        flex-direction: column;
    }
    #output{
        width: 150px;
        height: 150px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .imagen-input {
    margin-right: 100px;
    margin-bottom: 10px;
}
   
    .button-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .select{
        margin-left: 10px;
        text-align: center;
        
    }
    #button-enviar{
        width: 30%;
    }
    #button-borrar{
        width: 30%;
    }
}    