.diferent_categories{
    width: 100%;
    
}

.diferent_categories article{
    text-align: center;
    width: 100%;
    
}
.item_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
}   
.item_list img{
    width: 30vh;
    height: 30vh;
    
}     
    
article h2{
    margin-top: 15%;
}