html {
    font-family: 'Roboto', sans-serif;
}


header {
    opacity: 0.5;
    height: 100px
    
}

h2 {
    margin-left: 20px;
}

.global {
    width:90%;
    margin: auto;
}

#x {
    float: right;
    font-size: 2rem;
}

main, aside {
    width: 40%;
    float: left;
    margin: 0px 20px;
}

.product_application {
    max-width: 100%;
}

.options button {
    text-align: center;
    font-size: 1.2rem;
    width: 32%;
    background-color: white;
}


.sliderProducts {
    height: 45%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.technical_data h3 {
    padding: 0 20px;
    margin: 0;
}

.technical_data ul {
    padding: 10px 20px;
    margin: 0;
}
.technical_info {
    width: 50%;
    padding: 0 5%;
}

#price {
    text-align: right;
}

#add {
    background-color: #ffde59;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    width: 40%;
    padding: 10px;
    float: right;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.similar_products {
    width: 64%;
    max-height: 30%;
    margin: auto;
    text-align: center;
}

.technical_data {
    background-color: white;
    border-radius: 40px;
    padding: 0px 20px;
    margin-top: 20px;
}