#mas_vendidos{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}

#titulo_mas_vendidos{
    
    height: 10%;
    border-radius: 3px;
    background-color: rgba(182, 186, 190, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#mas_vendidos{
    margin-bottom: 15%;
}

#mas_vendidos h2{
        text-align: center;
        
      

}

 .elementos{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 0.5em; /*agregue separacion entre las imagenes*/ 
    margin-top: 10%;
 }


#mas_vendidos img{
    width: 100%;
    height: 100%;

}

 .box{
    width: 100%;
    height: 100%;
    position: relative;
    
    
} 


.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(256, 256,256, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transform: scale(0);
    transition: .5s ease;
    border: 2px solid;
    
}
.box:hover .capa{
    transform: scale(1);
}

.capa h2{
    font-size: 1em;
    font-weight: bold;
}