* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  background: -webkit-linear-gradient(left, #e5e5e5, #ffde59);
}

main {
  background-color: #fff;
  width: 85vw;
  margin: 5vw auto;
  padding: 2.5vw 5vw;
  border-radius: 20px;
  display: flex;
  gap: 10%;
}

main img {
  width: 150px;
  height: 150px;
  max-height: 150px;
  border-radius: 50%;
}

.column-1 {
  text-align: center;
}

.file-btn {
  width: 80%;
  position: relative;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 15px;
  color: #fff;
  background: #000;
  transition: 0.5s;
}

.file-btn:hover {
  background-color: #ffde59;
  color: black;
}

.file-btn input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.column-1 {
  width: 20%;
}

.data {
  width: 70%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.row {
  display: flex;
  gap: 20%;
  margin: 1.2rem 0px;
}
.row label {
  font-weight: bold;
  font-size: 1.4rem;
  width: 20%;
}

.profile-info {
  width: 80%;
}

.row p {
  font-size: 1.4rem;
  width: 60%;
}

.row .edit {
  font-size: 1.4rem;
  width: 60%;
}

.edit-button {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(68, 67, 67, 0.856);
  transition: 0.5s;
  cursor: pointer;
}

.edit-button:hover {
  color: #ffde59;
}

ul.client-links {
  margin-top: 1.2rem;
  list-style-type: none;
  cursor: pointer;
}

ul {
  margin-top: 0;
}

.btn {
  width: 20%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  padding: 10px;
  font-family: 'Roboto';
  transition: all 0.5s linear;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffde59;
  opacity: 0.9;
  color: black;
}

.edit {
  color: darkblue;
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
}

.profileImg {
  cursor: pointer;
}

.row input[type='password'] {
  font-size: 0.65rem;
  font-style: italic;
}
