*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

/* .logo{
    width: 50%;
    padding: 0px;
} 

.logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items:left;
}*/
html{
    scroll-behavior: smooth;
}

/*Define las caracteristicas del body
fuente / tamaño / interlineado y margenes*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    background-color: black;
    background-image: url(/img/portada-gogo-mobile.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:white;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2%;
    position: fixed;
    /*height: 270px; MARS: Lo anule porque con los errores de las validaciones rompia*/
    width: 230px;
    text-align: center;
}
.login-form .back{
    font-size:0.8em;
}
.form-container{

    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}
.form-container label{
    margin-left: 5px;
}
.container-login .back {
    color: white;
    text-decoration: none;
    text-align: right;
    margin-right: 5px;
}

.back-container{
    text-align: center;
    line-height: 5px;
    position: relative;
    top: 290px;
}
.container-login .circulos{
    font-size: 15px;
    margin-bottom: 5px;
    color: black;
    margin-top: 15px;
    font-weight: bold;
}

.input-login{
    width: 95%;
    border: none;
    outline:none;
    border-bottom: 1px black solid;
    margin: 5px;
    background-color: rgba(255,255,255,0);
    transition: all 0.6s;
}
.input-login:focus{
    border-bottom: 1px #ffde59 solid; 
}
.login-button{
    border: 0;
    background-color: black;
    opacity: 100%;
    color: white;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 30px;
    border-radius: 15px;
    transition: all 0.7s;
}
.login-button:hover{
    background-color: #ffde59;
    color:black;
}
.button-container{
    text-align: center;
}

.forgotten-button{
    font-size: 10px;
    line-height: 20px;
    
}
.forgotten-button a{
    color: black;  
    text-decoration: none;  
    line-height: 15px;
    font-size:12px;
}
.error-data{
    padding: 0 3px 0 3px;
    border-radius: 3px;
    color: red;
    font-size: 11px;
    margin-bottom: 15px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.7);
}
.remember{
    font-size: 12px;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

/*Define caracteristicas de los container
ancho (% de pantalla que ocupa), el tamaño máximo que quiero ocupe y los margenes, de ese modo queda centrado
.container{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}*/
/* .logo{
    width: 50%;
    padding: 0px;
} */
button a {
    text-decoration: none;
    color: white;
}


@media (min-width: 768px){
    .login-form{
    width: 282px;
    justify-content: space-evenly;
}
.form-container label{
    margin-left: 5px;
}
}
@media (min-width: 952px){
    .header{
        z-index: 3;
    }
/*     .logo{
    width: 25vh;
    padding: 0px;

    } */

body{
    background-image: url(/img/portada-gogo-1024x768.jpg);
    color:black;
}
.login-form{
background-color: rgba(255, 255, 255, 0.4);
position: absolute;
top: 10px;
left: 10px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 2%;
position: fixed;
width: 250px;

}

.forgotten-button a{
    font-size: 12px;
    text-decoration: none ;
}

.back-container {
    top: 385px;
}
}