.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid 2px black;
    border-bottom:solid 2px black ;
    flex-grow: inherit;
    background-color: rgba(182, 186, 190, 0.3);
    
}

.banner-box{
    margin: 0 2%;
}  

.banner-box a{
    text-decoration: none;
}

div  p{
    text-decoration: none;
    margin: 1vh 0;
}

@media (max-width: 952px){
    .banner{
    display: flex;
    flex-direction: column;
    border-top: solid 2px black;
    border-bottom:solid 2px black ;
    text-align: center;
    }
    
    
}