.logo{
    width: 50%;
    padding: 0px;
}
.header{
    background-color: black;
    color:white;
    position: sticky; /*para hacer el menu pegajoso*/
    top: 0; /*para que quede pegado a la parte superior*/

    bottom: 150px;
}

.header a{
    color:white;
    text-decoration:none;
}
.logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.navigation ul{
 margin: 0;
 padding: 0;
 list-style:none;
}
.navigation ul li{
    display:inline-block;
}
.navigation ul li a{
    display:block;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
    border-radius: 1.5px
}
.navigation ul li a:hover{
    background: #ffde59;
    opacity: 0.9;
    color:black;
}
.desplegagle li {
    float: left;
    
}
.inner_nav li ul{
    display:none ;
    position: absolute;
    min-width: 140px;
    background-color: black;
}
.inner_nav li:hover > ul {
    display: flex;
    flex-direction: column;
    
}

