* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

body {
    background-color: #E5E5E5;
}

header {
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

header img {
    width: 100px;
    /*height: auto;*/
}

img {
    max-width: 100%;
    height: auto;
}

main {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.product_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.product_detail {
    max-height: 900px;
}
/* SLIDER */

.slider {
    width: 100%;
    margin-top: 10px;
    height: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;
}

.product_info {
    margin-top: 20px;
    max-height: 900px;
}


.options {
    display: flex;
    justify-content: space-evenly;
}

.options button {
    background-color: black;
    color: white;
    font-size: 1rem;
    text-align: center;
    border: solid white 1px;
    padding: 5px 20px;
    width: 33.333%;
}


.technical_data {
    background-color: white;
    border-radius: 40px;
    text-align: left;
    padding-bottom: 10px;
    
}

.technical_data h3 {
    margin-left: 25px;
    padding-top: 10px;
}

.price {
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.qtyadd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

input {
    width: 15%;
    border:none;
    text-align: center;
    font-weight: bold;
}

#add {
    width: 40%;
    background-color: #ffde59;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    padding: 10px;
    font-family: 'Roboto';
}


#price {
    text-align: right;
}

.documents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-top: 20px;
}

.documents span {
    margin-bottom: 0.5em;
}

.similar_products {
   
}

/*media query Tablet*/

@media (min-width:480px) {
    main {
        display: flex;
        flex-direction: row;
        padding: 0 20px;
    }
    .product_name {
        padding: 0 20px;
        
    }
    .product_detail {
        width: 50%;
        margin-right: 5px
    }
    .product_info {
        width: 50%;
        margin-left: 5px;
        margin-top: 0px;
    }
    .options button {
        font-size:0.75rem;
    }
    .similar_products {
        width: 66.66%;
        margin: 0 auto;
    }
}

/*Media Query Laptop*/
@media (min-width:769px) {
    .product_name, main {
        padding: 0 100px;
    }
    input {
        width: 12.5%;
    }
    #add {
        width: 40%;
    }    

}

/*Media Query Desktop*/
@media (min-width: 1279px) {

    .product_name, main {
        padding: 0 150px;
    }


}