* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  background: -webkit-linear-gradient(left, #e5e5e5, #ffde59);
}

main {
  background-color: #fff;
  width: 85vw;
  margin: 5vw auto;
  padding: 2.5vw 5vw;
  border-radius: 20px;
  text-align: center;
  display: flex;
  gap: 5%;
  
}

section.images {
  width: 45%;
  font-weight: bold;
}

section.images img{
  width: 100%;
}

section.images .home-img img {
  width: 50%
}
.home-img {
  display: flex;
  justify-content: space-between ;
  align-items: flex-end;
  margin-top: 20px;
}
.cover-img {
  text-align: right;
}


a {
  text-decoration: none;
}

.data {
  width: 50%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 40px 0px;
}

.row {
  display: flex;
  margin: 1.2rem 0px;
}

article.details {
  width: 80%;
  font-size: 1.2rem;
} 

.row {
  display: flex;
  justify-content: space-between;
}
.row label {
  font-weight: bold;
  
}

.edit-button {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(68, 67, 67, 0.856);
  transition: 0.5s;
  cursor: pointer;
}

.edit-button:hover {
  color: #ffde59;
}

/*
.row .edit {
  font-size: 1.4rem;
  width: 60%;
}

.error::placeholder {
  color: red !important;
  font-weight: bold;
}
/


ul.client-links {
  margin-top: 1.2rem;
  list-style-type: none;
  cursor: pointer;
}

ul {
  margin-top: 0;
}

.btn {
  width: 20%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  padding: 10px;
  font-family: 'Roboto';
  transition: all 0.5s linear;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffde59;
  opacity: 0.9;
  color: black;
}

.edit {
  color: darkblue;
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
}

.profileImg {
  cursor: pointer;
}




/* Style the button when the checkbox is checked */

@media (max-width: 576px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .column-1 {
    width: 100%;
  }
  .data {
    width: 100%;
  }
  .btn {
    width: 40%;
  }
  .profile-info {
    width: 100%;
  }
}
