*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*Define las caracteristicas del body
fuente / tamaño / interlineado y margenes*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height:1.6em;
    margin: 0;
    background-color: #E5E5E5;
}
/*Define caracteristicas del h1
tamaño de fuente e interlineado, el tipo de fuente lo hereda del body*/
h1{
    font-size: 1.2em;
    line-height: 1.3em;
}

/*Define caracteristicas de p
margen de abajo*/
p{
    margin-bottom: 1.6em;
}
/*Define caracteristicas de los container
ancho (% de pantalla que ocupa), el tamaño máximo que quiero ocupe y los margenes, de ese modo queda centrado*/
.container{
    width: 100%;
   /* max-width: 850px;*/
    margin: 0 ;
    padding: 0;
    z-index: 3;
    height: 13vh;
}

#burguer{
    display: none;
}

.logo{
    width: 50%;
    padding: 0px;
}
.header{
    background-color: black;
    color:white;
    /*position: sticky; para hacer el menu pegajoso*/
    top: 0; /*para que quede pegado a la parte superior*/

    bottom: 150px;
    z-index: 3;
}

.header a{
    color:white;
    text-decoration:none;
}
.logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.navigation ul{
 margin: 0;
 padding: 0;
 list-style:none;
}
.navigation ul li{
    display:inline-block;
}
.navigation ul li a{
    display:block;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
    border-radius: 1.5px
}
.navigation ul li a:hover{
    background: #ffde59;
    opacity: 0.9;
    color:black;
}
.buscar{
    border: solid red;
    width: 80%;
    display:inline-block;
}

.desplegagle li {
    float: left;
    
}
.inner_nav li ul{
    display:none ;
    position: absolute;
    min-width: 140px;
    background-color: black;
}
.inner_nav li:hover > ul {
    display: flex;
    flex-direction: column;
    
}


/*aca empieza el slider*/


.slider{
    height: 45%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

.slider ul{
    display: flex;
    margin: 0;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite  alternate;

}
.slider li {
    list-style: none;
    width: 100%;
    
   
}

.slider img{
    width: 100%;
    height:79vh;
    object-fit: cover;
    
    
    
}

@keyframes cambio{
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    35%{margin-left: -150%;}
    65%{margin-left: -150%;}

    70%{margin-left: -300%;}
    100%{margin-left: -300%;}
}





/*categorias*/


.diferent_categories{
    width: 100%;
}

.diferent_categories article{
    text-align: center;
    width: 100%;

    
    
    
}
section article{
    border-bottom: solid 3px black;
    /* box-shadow: 0 8px 8px 0 black; */
}
article h2{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 2em;
    background:linear-gradient(to right,grey,white);
    padding: 1%;
    margin: 0;
    
    
}

.diferent_categories ul li  img{
    box-shadow: 5px 5px black;
}

.item_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
    padding: 0;
    
    
    
}   
.item_list img{
    margin-top: 5%;
    margin-bottom: 10%;
    width: 30vh;
    height: 30vh;
    border: solid 5px rgb(160, 160, 160);
    
    
    
}  

/*hover zoom*/
.zoom{
    transition: transform .05s;
}
.zoom:hover{
    transform: scale(1.1);
}

/*comienza el footer*/
.footer_{
    display: flex;
    background-color: black;
}
.footer_wrappler{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
    
}
.footer_wrappler  article h4{
    color: white;
    margin: 0;
    padding: 0;
}
.footer_wrappler article{
    margin-left: 10%;
    margin-right: 10%;
    
}
.links ul{
    padding: 0;
    
}
.links ul li{
    list-style: none;
    
    
}    
.links ul li a{
    text-decoration: none;
    color: white;
}  


.social_media ul{
    
    padding: 0;
    justify-content: space-between;
    
}
.social_media ul li a {
    text-decoration: none;
    color: white;
}
.contact{
    text-align: justify;

}
.contact ul{
    
    padding: 0;
}
.contact ul li {
    justify-content: space-between;
}
.contact ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
}
.fa-envelope:before {
    content: "\f0e0";
    margin: 7px;}
.fa-whatsapp:before {
    content: "\f232";
    margin: 7px;
}
.fa-facebook-square:before {
    content: "\f082";
    margin: 7px;
}

.fa-instagram:before {
    content: "\f16d";
    margin: 7px;
}  



/*media queri de home*/
@media (max-width: 952px){
    .header{
        z-index: 3;
    }
    .category-box{
        margin-top: 50%;
    }
    #categorias div img{
    width: 30vh;
    height: 30vh;
    padding-left: 1vh;
    ;
    border: 0;
    margin: 0;
    align-self: center;
    }
    .logo{
    width: 15vh;
    padding: 0px;
    

    }
    
    .elementos{
    display: flex;
    flex-direction: column;
    margin-top: -15%;
    justify-content: space-between;
    gap: 0.5em; /*agregue separacion entre las imagenes*/ 
    }


    #mas_vendidos img{
    width: 100%;
    height: 100%;
    z-index: inherit;

    }


    #first_box{
    margin-top: 60%;
    }
    .box{
    width: 100%;
    height: 100%;
    position: relative;
    }
    
    .links ul li{
    list-style: none;
    
    } 
   
    .inner_nav{
        display: none;
    }   
    #burguer{
    display: inline-block;
    color: white;
    width: 50px;
    }
    .footer_wrappler{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 3%;
    }
    .links{
        display: none;
    }
   
}    

    

     

    


    
    
   
   
   

