.slider{
    height: 45%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

.slider ul{
    display: flex;
    margin: 0;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite  alternate;

}
.slider li {
    list-style: none;
    width: 100%;
    
   
}

.slider img{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    
    
    
}

@keyframes cambio{
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    35%{margin-left: -150%;}
    65%{margin-left: -150%;}

    70%{margin-left: -300%;}
    100%{margin-left: -300%;}
}