.footer{

    background-color: black;
    color:white;
}
.footer_wrappler{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    padding: 0;
}