* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

body {
    background-color: #E5E5E5;
}

header {
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

header img {
    width: 100px;
    /*height: auto;*/
}

img {
    max-width: 340px;
}

main {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    

}

.product_name {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.options button {
    background-color: black;
    color: white;
}

.technical_info {
    margin: 0 10px;
}
.technical_data {
    background-color: white;
    border-radius: 40px;
    text-align: left;
    padding-bottom: 10px;
    
}

.technical_data h3 {
    margin-left: 30px;
    padding-top: 10px;
}

.price {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#add {
    background-color: #ffde59;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    width: 40%;
    padding: 10px;
}
.qtyadd {
    display: flex;
    flex-direction: row;
}
#price {
    text-align: right;
    margin-right: 10px;
}

.documents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}