*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html{
    scroll-behavior: smooth;
}

/*Define las caracteristicas del body
fuente / tamaño / interlineado y margenes*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    background-image: url(/img/portada-uro-1024x768.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    color:white;
}


.main-container{
    text-align: center;
    width:100%;
    left: 15%;
    top: 25%;

}
.registry{
    display: flex;
    flex-direction: column;
    color:white;
    text-align: center;
    width: 300px;
    border: solid white 1px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px; 
    padding: 20px;
    margin: 20px auto;

}


 
.subir span{
    text-align: center;
}
.subir:hover{
    color:#fff;
    background: #f7cb15;
}

.registry label{
    display: block;
    text-align: left;
    margin-top:5px;
}
.registry .subir{
    text-align: center;
}
.subir{
    padding: 5px 5px;
    color:#fff;
    border:0px solid #fff;
    width: 90%;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    opacity: 100%;
    color: black;
    text-align: center;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    transition: all 0.7s;  

}

input.login{
    
    outline:none;
    border:none;
    border-bottom: white 1px solid;
    margin-top: 5px;
    margin-bottom:5px;
    background-color: rgba(0,0,0,0);
    color:white;
    font-size: 15px;
    border-radius: 0%;
    transition: all 0.6s;
    height: 20px;
    
}
input.login:focus{
    border-bottom: 1px #ffde59 solid; 
}
.inner_nav{
    display: none;
}
.login-button{
    background-color: white;
    opacity: 100%;
    color: black;
    text-align: center;
    border: none;
    margin: 5px;
    font-size: 20px;
    width: 90%;
    border-radius: 15px;
    transition: all 0.7s;    
    height: 40px;
}
.login-button:hover{
    background-color: #ffde59;

}
span.error{
    display: block;
    color: red;
    opacity: 90%;
    transition: all 0.7s;
    text-align: left; 
    margin-bottom: 15px
}

.error-message{
    color:red;
    width: 90%;
    font-size: 10px;
    text-align: left;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.back{
    text-decoration: none;
    color:white;
    text-align: right;
    margin-right: 15px;
    font-size: 0.8rem;
}

span.hidden {
    display:none
}


@media (min-width: 768px){

body{
    color:black;
}
.profileImg{
    text-align: center;
}
.registry{
    color:white;
}

.button-container{
  width: 100%;
}

.registry{
    margin-left:15%   
}
}


@media (min-width: 992px){
    .registry{
        margin-top: 5%;
        width: 360px;   
    }

}