* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
}


img {
    width: 100%;
    height: auto;
}

main {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%
}

.product-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.product-name i {
    color:black;
}

.main-img {
    margin-bottom: 10px;
    z-index: 0;
    opacity: 1;
    transition: all 1s;
    }



/*Product Dimensions appear*/

.product-detail {
    position: relative;
}

.product-detail i {
    position: absolute;
    top: 2.5%;
    right:5%;
    font-size: 24px;
    color: black;
    z-index: 9999;
    transition: all 1s;
}
.product-detail i:hover {
    color:#ffde59;
}

.product-dimensions {
    position: absolute;
    top:0;
    opacity: 0;
    z-index: 1000;
    transition: all 1s;
}
.product-detail i:hover ~ .product-dimensions{
    opacity: 1;
}

.product-detail i:hover ~ .main-img{
    opacity: 0.1;
}







/*new slider*/

/* Next & previous buttons */
.prev, 
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
  }
  /* Position the "next button" mad "left button */
.prev {
    left:0;
    border-radius: 3px 0 0 3px;
}  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.dot:hover {
    background-color: #ffde59;
    opacity: 0.8;
  }
  /* The dots/bullets/indicators */
.dots-container,
.dots-container-2 {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -25px;
    text-align: center;
}  
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  


/*SLIDER without JS*/
.slider-container,
.slider-container-2 {
            width: 100%;
            position: relative;
            height:auto;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
            -webkit-overflow-scrolling: touch;
        }
        input[name="r"]{
            position: absolute;
            visibility: hidden;
        }
        
        .slides,
        .slides-2 {
          width: 300%;
          display: flex;
          
        }
        
        .slide,
        .slide-2 {
          width: 33.33%;
          transition: 1s;
        }
        
        #r1:checked ~ .s1,
        #r1-2:checked ~ .s2{
          margin-left: 0;
        }
        #r2:checked ~ .s1,
        #r2-2:checked ~ .s2{
          margin-left: -33.33%;
        }
        #r3:checked ~ .s1,
        #r3-2:checked ~ .s2{
          margin-left: -66.66%;
        }
        #rp:checked ~ .s1,
        #rp-2:checked ~ .s2{
            margin-left: 0;
        }
        #rn:checked ~ .s1,
        #rn-2:checked ~ .s2{
            margin-left: -33.33%;
        }
       
/* SLIDER */


.slider2 {
    width: 100%;
    
    margin-top: 10px;
    height: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}



.slide2 {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;
}

.product-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-height: 900px;
}


.options {
    display: flex;
    flex-direction: column;
}

.options-control,
.options-control-dim {
    color: white;
    background-color: black;
    font-size: 1rem;
    text-align: center;
    text-align-last:center;
    border: solid white 1px;
    padding: 5px 0px;
    width: 100%;
    transition: all 0.5s linear;
    font-family: 'FontAwesome', 'Roboto';
}

.options-control:hover,
.options-control-dim:hover {
    background-color: #ffde59;
    opacity: 0.9;
    color: black;
}

.options-power-cct {
    display: flex;
    flex-direction: column;
    
}

#bt-icon,
#off-icon {
    font-family: 'FontAwesome', 'Roboto';
}

.technical-data {
    background-color: white;
    border-radius: 15px;
    text-align: left;
    padding-bottom: 10px;
    padding-right: 10px;
}

.technical-data h3 {
    margin: 9px 25px;
    padding-top: 10px;
}
.technical-data ul {
    margin: 0 auto
}
.technical-data li em {
    color:darkgrey
}

.price {
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.qtyadd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

input {
    width: 16.66%;
    border:none;
    text-align: center;
    font-weight: bold;
}

.add {
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    padding: 10px;
    font-family: 'Roboto';
    transition: all 0.5s linear

}

.add:hover {
    background-color: #ffde59;
    opacity: 0.9;
    color: black;
}


.price-title {
    text-align: right;
    font-size: 24px;
}

.product-dimensions-info {
    display: none;
}

.documents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:5px;
    text-align: left;
    margin-top: 20px;
}

.similar-products-container {
    margin: 0 auto;
    text-align: center;
    width: 66.66%;
    margin-bottom: 20px;
}

.similar-products {
    align-content: flex-end;
}

/*media query Tablet*/

@media (min-width:576px) {
    main {
        display: flex;
        flex-direction: row;
        width: 85%;
    }
    .product-name {
        width: 85%;
        justify-content: flex-end;
        gap: 20px;
        
    }
    .product-detail {
        width: 50%;
        margin-right: 5px;
        position: sticky;
    }

    .options {
        flex-direction:row;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }
    .options-power-cct {
        width: 50%;
    }
    .options-control-dim {
        width: 50%
    }

    .product-info {
        width: 50%;
        margin-left: 5px;
        margin-top: 0px;
        position: relative;
    }

    .documents {
        position: absolute;
        bottom: 0;
    }

    .similar-products {
        width: 100%;
        margin: 0 auto;
    }

    .slider-container-2 {
        width: 100%;
        margin-top: 10px;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow-x: visible;
        -webkit-overflow-scrolling: auto;
        scroll-snap-type: none;
    }

    .dots-container-2,
    .prev-next-buttons-2 {
        display: none;
    }

    .slides-2 {
        display: flex;
        justify-content: space-evenly;
    }

    .slide-2,
    .s2 {
        width: 30%;
        flex-shrink: 0;
        height: 100%;
        scroll-snap-align: none;
    }
    
}

/*Media Query Laptop*/
@media (min-width:768px) {
    .product-name, main {
        width: 80%;
    }

    .product-name h2 {
       font-size: 28px; 
    }

    .documents {
        font-size: 16px;
    }

   


}

/*Media Query Desktop*/
@media (min-width: 1024px) {

    .product-name, main {
        width: 70%;
        max-width: 1500px;
        max-height: 1500px;
    }
 
    .options-power-cct {
         width: 66.66%;
         flex-direction: row;
    }
    .options-control-dim {
        width: 33.33%;
        
    }
   

    .product-dimensions-info:hover{
        transform: scale(1.5);
    }
    .product-detail i {
        display: none;
    }

}

/*Media Query Desktop*/
@media (min-width: 1200px) {    
    .product-dimensions-info {
        display: initial;
        position: relative;
        margin-top:40px;
        margin-left: 16.66%;
        width: 83.33%;
        margin-top: 40px;
        transition: all 0.5s;
        z-index: 10;
    }
   
}