<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---Al estar declarado en app.js el path.resolve(__dirname,'./public'), solo se indica lo que sigue a la ruta-->
    <title>Focal Glow</title>
    <link rel="icon" href="/icon/logo.ico">
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
<!--     <link rel="stylesheet" href="/css/style_categories.css">
    <link rel="stylesheet" href="/css/style_banner.css"> -->
    <link rel="stylesheet" href="/css/style_home.css">
    <link rel="stylesheet" href="/css/style_categoriesv1.css">
    <link rel="stylesheet" href="/css/style_menu_responsive.css">
    <script src="https://kit.fontawesome.com/641c03bd1a.js" crossorigin="anonymous"></script>


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/641c03bd1a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container logo-nav-container">
            <p><a href="/"><img class="logo" src="/img/kes_sey__15_.png"></a></p>
            <nav class="navigation">
                <div id="burguer">
                    <div class="dropdown">
                        <button class="dropbtn"><i id="burguer" class="fas fa-bars"></i></button>
                        <div class="dropdown-content">
                            <a href="#mas-vendidos">Sale</a>
                            <a href="#main-categori">Shop</a>
                            <a href="/us">Nosotros</a>
                            <!-- <a href="#">Usuario</a> -->
                            <a href="/login">Iniciar Sesión</a>
                            <a href="/registro">Registrate</a>
    
                            <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <ul class='inner-nav'>
                    <li><a href="#mas-vendidos">Sale</a>
                    </li>
                    <li><a href="#main-categori">Shop</a>
                         <ul class='desplegable'>
                                <li><a href="/categorias/plafon">Plafón</a></li>
                                <li><a href="/categorias/apliques">Apliques</a></li>
                                <li><a href="/categorias/pie">Pie</a></li>
                                <li><a href="/categorias/colgante">Colgantes</a></li>
                                <li><a href="/categorias/spot">Spots</a></li>
                                <li><a href="/categorias/sistema">Accesorios</a></li>
                                <li><a href="/categorias/mesa">Mesa</a></li>
                                <li><a href="/categorias/exterior">Exterior</a></li>
                            </ul>
                    </li>
                    <li><a href="/us">Nosotros</a></li>
                    <li><a href="#">Usuario</a>
                        <ul class='desplegable'>
                            <li><a href="/login">Iniciar Sesión</a></li>
                            <li><a href="/registro">Registrate</a></li>
                        </ul>
                    </li>
                    <li><a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
                        <ul class='inner-nav'>
                            <li></li>
                            <li><button type="button"></button></li>
                            <li></li>
    
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <article id="colgante">
        <h2>Colgantes</h2>
        <div class="item-list">
            <div class="producto"><img class="zoom" src="/img/colgante/colgante1.jpg" alt="">
                <div class="nombre-precio">
                    <p>Nombre:</p>
                    <p>Desde:</p>
                </div>
            </div>
            <div class="producto"><img class="zoom" src="/img/colgante/colgante2.jpg" alt="">
                <div class="nombre-precio">
                    <p>Nombre:</p>
                    <p>Desde:</p>
                </div>
            </div>
            <div class="producto"><img class="zoom" src="/img/colgante/colgante3.jpg" alt="">
                <div class="nombre-precio">
                    <p>Nombre:</p>
                    <p>Desde:</p>
                </div>
            </div>
            <div class="producto"><img class="zoom" src="/img/colgante/colgante4.jpg" alt="">
                <div class="nombre-precio">
                    <p>Nombre:</p>
                    <p>Desde:</p>
                </div>
            </div>
            <div class="producto"><img class="zoom" src="/img/colgante/colgante5.jpg" alt="">
                <div class="nombre-precio">
                    <p>Nombre:</p>
                    <p>Desde:</p>
                </div>
            </div>
            <div class="producto"><img class="zoom" src="/img/colgante/colgante6.jpg" alt="">
                <div class="nombre-precio">
                    <p>Nombre:</p>
                    <p>Desde:</p>
                </div>
            </div>
            <div class="producto"><img class="zoom" src="/img/colgante/colgante7.jpg" alt="">
                <div class="nombre-precio">
                    <p>Nombre:</p>
                    <p>Desde:</p>
                </div>
            </div>
            <div class="producto"><img class="zoom" src="/img/colgante/colgante8.jpg" alt="">
                <div class="nombre-precio">
                    <p>Nombre:</p>
                    <p>Desde:</p>
                </div>
            </div>
        </div>
    </article>
    <footer class="footer-">
        <section class="footer-wrappler">
            <article id="part" class="links">
                <h4>Preguntas frecuentes</h4>
                <ul>
                    <li><a href="/us#us">Nosotros</a></li>
                    <li><a href="/us#payment_method">Metodos de Pago</a></li>
                    <li><a href="/us#delivery">Envios</a></li>
                </ul>
            </article>
            <article id="part" class="social-media">
                <h4>Social Media</h4>
                <ul>
                    <li><a href="https://www.facebook.com/focal.glow/" target="_blank"><i
                                class="fab fa-facebook-square"></i>Facebook</a></li>
                    <li><a href="https://www.instagram.com/focal_glow_baires/" target="_blank"><i
                                class="fab fa-instagram"></i>Instagram</a></li>
                </ul>
            </article>
            <article id="part" class="contact">
                <h4>Contact</h4>
                <ul>
                    <li><a href=""><i class="far fa-envelope"></i>E-mail</a></li>
                    <li><a href=""><i class="fab fa-whatsapp"></i>Whatsapp</a></li>
                </ul>
            </article>
        </section>
    </footer>
</body>

</html>