<%- include('partials/head.ejs')%>
<link rel="stylesheet" href = "">
</head>

    <body>
        <!-- HEADER -->
            <%- include('partials/header.ejs')%>
        <!-- HEADER -->
    <h1>Hubo un problema con la base de datos</h1>
    <h2>Seguro que fue Baigorria</h2>
    </body>     
</html>