<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Focal Glow Categoría</title>
  <link rel="icon" type="ico" href="/icon/logo.ico">

  <script src="https://kit.fontawesome.com/641c03bd1a.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <link rel = "stylesheet" href = "/css/normalize.css" type="text/css">
  <link rel = "stylesheet" href = "/css/styles-header.css">
  <link rel = "stylesheet" href = "/css/styles-footer.css" type="text/css">
  <link rel = "stylesheet" href = "/css/style_categories_general.css">
   
  
</head>

<body>

  <!--HEADER-->
  <%- include ('partials/header')%>

  <figure class="main-image">
    <img src="/img/banner-category.jpg">
  </figure>
  <main>
    
    <h2 class ="category-title"> Categoria </h2>
    <section class="item-list">

      <article class="producto">
        <a href="/product"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
        <div class="nombre-precio">
          <p class ="nombre">Nombre del producto</p>
          <p class ="precio">Desde:</p>
        </div>
      </article>

      <article class="producto">
        <a href="/product"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
        <div class="nombre-precio">
          <p class ="nombre">Nombre del producto</p>
          <p class ="precio">Desde:</p>
        </div>
      </article>

      <article class="producto">
        <a href="/product"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
        <div class="nombre-precio">
          <p class ="nombre">Nombre del producto</p>
          <p class ="precio">Desde:</p>
        </div>
      </article>

      <article class="producto">
        <a href="/product"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
        <div class="nombre-precio">
          <p class ="nombre">Nombre del producto</p>
          <p class ="precio">Desde:</p>
        </div>
      </article>

      <article class="producto">
        <a href="/product"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
        <div class="nombre-precio">
          <p class ="nombre">Nombre del producto</p>
          <p class ="precio">Desde:</p>
        </div>
      </article>

      <article class="producto">
        <a href="/product"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
        <div class="nombre-precio">
          <p class ="nombre">Nombre del producto</p>
          <p class ="precio">Desde:</p>
        </div>
      </article>

      <article class="producto">
        <a href="/product"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
        <div class="nombre-precio">
          <p class ="nombre">Nombre del producto</p>
          <p class ="precio">Desde:</p>
        </div>
      </article>

      <article class="producto">
        <a href="/product"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
        <div class="nombre-precio">
          <p class ="nombre">Nombre del producto</p>
          <p class ="precio">Desde:</p>
        </div>
      </article>

    </section>
  </main>


  <!--FOOTER-->
  <%- include('partials/footer') %>

    
</body>

</html>