<%- include('partials/head.ejs')%>
<link rel="stylesheet" href="/css/styles-purchase.css">
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs')%>
        <!-- HEADER -->
    <div class="apu">
    <a href="/"><img src="/img/gracias-vuelva-prontos.jpg" width="600px"  alt="" srcset=""></a>
    </div>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs')%>
        <!-- FOOTER -->
</body>