<%- include('partials/head.ejs')%>
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs')%>
        <!-- HEADER -->

    <a href="/"><img src="/img/gracias-vuelva-prontos.jpg" width="600px"  alt="" srcset=""></a>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs')%>
        <!-- FOOTER -->
</body>