<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---Al estar declarado en app.js el path.resolve(__dirname,'./public'), solo se indica lo que sigue a la ruta-->
    <title>Focal Glow Us</title>
    <link rel="icon" href="/icon/logo.ico">
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- <link rel="stylesheet" href="/css/style_banner.css"> -->
    <!-- <link rel="stylesheet" href="/css/style_home.css"> -->
    
    <link rel = "stylesheet" href = "/css/styles-header.css">
    <link rel = "stylesheet" href = "/css/styles-footer.css">
    <link rel = "stylesheet" href = "/css/style_us.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/641c03bd1a.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--HEADER-->
  <%- include ('partials/header')%>

  <main>
    <h2>Quiénes Somos</h2>
    <div class="main-wrapper">
      
      <div class="aside-text">
        <p><strong>Focal Glow</strong> es diseño y creatividad, iluminación y pasión, adaptación y dedicación al    cliente.<br><br>
                    
        Somos especialistas en crear <strong>emociones</strong> a través de la luz. Nuestra experiencia en el sector consolida el éxito de nuestros proyectos.<br>
                    
        De principio a fin, trabajamos mano a mano con nuestros clientes, sabiendo cumplir con las necesidades y expectativas que requiere cada desafío y, ofreciendo un servicio y gestión integral del proyecto.<br><br>
                    
        Nos divierte <strong>transformar</strong> lugares, pero también queremos llegar a las personas que interactúan en esos <strong>espacios</strong>.
        Adaptamos el mundo del cliente transformándolo en un concepto propio e identificador.<br><br>
                    
        Hoy en día seguimos <strong>innovando</strong> en cada una de nuestras creaciones, dotando de carácter y sofisticación cada proyecto.<br><br>
                    
        La cercanía es uno de nuestros principales valores. Nos diferenciamos de las graplataformas on-line en la especialización y apostamos por un trato más cercano de persona a persona.<strong>¡Somos un equipo!</strong><br> Nuestro compromiso se basa en la lealtad. Trabajamos codo con codo para hacernos más fuerte. <strong>¡Siempre estamos a tu lado!</strong>
        </p>
      </div>
      <div class="aside-image">
        <img src="/img/somos.jpg" alt="nuestro local">
      </div>
    </div>
  </main>
  
  <!--FOOTER-->
  <%- include('partials/footer') %>

  
</body>

</html>