<header>
  <div class="container logo-nav-container">
    <p>
      <a href="/"><img class="logo" src="/img/kes_sey__15_.png" /></a>
    </p>
    <nav class="navigation">
      <div id="burguer">
        <div class="dropdown">
          <button class="dropbtn"><i id="burguer" class="fas fa-bars"></i></button>
          <div class="dropdown-content">
            <a href="/#mas-vendidos">Sale</a>
            <a href="/#main-categori">Shop</a>
            <a href="/us">Nosotros</a>
            <!-- <a href="#">Usuario</a> -->
            <a href="/users/login">Iniciar Sesión</a>
            <a href="/users/registro">Registrate</a>

            <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
      <ul class="inner-nav">
        <li><a href="/#mas-vendidos">Sale</a></li>
        <li>
          <a href="/#main-categori">Shop</a>
          <ul class="desplegable">
            <li><a href="/categorias/plafon/1">Plafón</a></li>
            <li><a href="/categorias/apliques/2">Apliques</a></li>
            <li><a href="/categorias/pie/3">Pie</a></li>
            <li><a href="/categorias/colgantes/4">Colgantes</a></li>
            <li><a href="/categorias/spots/5">Spots</a></li>
            <li><a href="/categorias/sistemas/6">Sistemas y Accesorios</a></li>
            <li><a href="/categorias/mesa/7">Mesa</a></li>
            <li><a href="/categorias/exterior/8">Exterior</a></li>
          </ul>
        </li>
        <li><a href="/us">Nosotros</a></li>
        <li>
          <a href="#">Usuario</a>
          <ul class="desplegable">
            <li><a href="/users/login">Iniciar Sesión</a></li>
            <li><a href="/users/registro">Registrate</a></li>
          </ul>
        </li>
        <li>
          <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
