<header>
  <div class="container logo-nav-container">
    <p>
      <a href="/"><img class="logo" src="/img/kes_sey__15_.png" /></a>
    </p>
    <nav class="navigation">
      <div id="burguer">
        <div class="dropdown">
          <button class="dropbtn"><i id="burguer" class="fas fa-bars"></i></button>
          <div class="dropdown-content">
            <a href="/#mas-vendidos">Sale</a>
            <a href="/#main-categori">Shop</a>
            <a href="/us">Nosotros</a>
            <!-- <a href="#">Usuario</a> -->
            <a href="/users/login">Iniciar Sesión</a>
            <a href="/users/registro">Registrate</a>

            <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
      <ul class="inner-nav">
        <li><a href="/#mas-vendidos">Sale</a></li>
        <li>
          <a href="/#main-categori">Shop</a>
          <ul class="desplegable">
            <%locals.categories.forEach(e =>{%>
              <li><a href="/categorias/<%=e.name%>/<%=e.id%>"><%=e.name.charAt(0).toUpperCase() + e.name.slice(1)%></a></li>
            <%})%>             

          </ul>
        </li>
        <li><a href="/us">Nosotros</a></li>
        <li>
          <a href="#"><%= locals.user? locals.user.first_name : 'Usuario'%></a>
          <ul class="desplegable">
            <% if (locals.user) { %>
                <li><a href="/product/">Product list </a></li>
                <li><a href="/users">User list </a></li>
                <li><a href="/users/profile">Perfil </a></li>
            <% } else { %> 
            <li><a href="/users/login">Iniciar Sesión</a></li>
            <li><a href="/users/registro">Registrate</a></li>
            <% } %>
          </ul>
        </li>
        <li>
          <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
