<%- include('partials/head.ejs')%>
    <title>Registro | Focal Glow</title>
    <link rel="stylesheet" href="/css/styles-registro.css">
    <link rel = "stylesheet" href = "/css/styles-header.css">
</head>

<body>
    <%- include('../partials/header.ejs')%>


    <main class="main-container2">
        <form class="registry-form2">

            <div class="registry-container2">
                <label for="nombre">Nombre</label>
                <input class="input-login" type="text" name="nombre" id="nombre" required>
                <label for="apellido">Apellido</label>
                <input class="input-login" type="text" name="apeliido" id="apellido" required>
                <label for="email">Email</label>
                <input class="input-login" type="email" name="email" id="email" required>
                <br><span class="error-message">El mail es incorrecto</span>
                <label for="password">Contraseña</label>
                <input class="input-login" type="password" name="password" id="password" required>
                <label for="re-password">Confirmar contraseña</label>
                <input class="input-login" type="text" name="re-password" id="re-password" required>
                <span class="error-message">Las contraseñas no coinciden</span>

            </div>
            <div class="button-container">
                <button type="submit" class="login-button">Continuar</button>

            </div>

            </section>

    </main>
    <!--  <footer class="footer">
        <section class="footer_wrappler">
            <article class="links">
                <h4>Preguntas frecuentes</h4>
                <ul>
                    <li><a href="/us#us">Nosotros</a></li>
                    <li><a href="/us#payment_method">Metodos de Pago</a></li>
                    <li><a href="/us#delivery">Envios</a></li>
                </ul>
            </article>
            <article class="social_media">
                <h4>Social Media</h4>
                <ul>
                    <li><a href="https://www.facebook.com/focal.glow/" target="_blank"><i
                                class="fab fa-facebook-square"></i>Facebook</a></li>
                    <li><a href="https://www.instagram.com/focal_glow_baires/" target="_blank"><i
                                class="fab fa-instagram"></i>Instagram</a></li>
                </ul>
            </article>
            <article class="contact">
                <h4>Contact</h4>
                <ul>
                    <li><a href=""><i class="far fa-envelope"></i>E-mail</a></li>
                    <li><a href=""><i class="fab fa-whatsapp"></i>Whatsapp</a></li>
                </ul>
            </article>
        </section>
    </footer> -->
</body>

</html>