<!-- Partial head -->
<%- include('../partials/head.ejs')%>

    <title>Login | Focal Glow</title>
    <link rel="stylesheet" href="/css/styles-user-login.css">


    </head>

    <body>
        <%- include('../partials/header.ejs')%>



            <main class="container-login">
                <form class="login-form" action="/users/login" method="POST">

                    <div class="form-container">
                        <label for="email">Email</label>
                        <br>
                        <input class="input-login" type="email" name="email" id="email">
                        <br>
                        <%if(locals.errors && errors.email){%>
                            <span class="error-data"> <%= errors.email.msg%> </span> 
                            <%}%>
                        <br>
                        <label for="password">Contraseña</label>
                        <br>
                        <input class="input-login" type="password" name="password" id=password>
                    </div>
                    <label class="remember" value="remember">
                        <input type="checkbox" name="remember">Recordar mi usuario y contraseña
                    </label>
                    <div class="button-container">
                        <button type="submit" class="login-button">Ingresar</button>
                        <br>
                        <button type="submit" class="login-button"><a href="/users/register">Crear Cuenta</a></button>
                        <br>
                    </div>
                    <div class="forgotten-button">
                        <span><a href="#">Olvidé mi usuario |</a></span>
                        <span><a href="#">Olvide mi contraseña</a></span>
                        <br>
                        <%if(locals.errors && errors.password){%>
                            <span class="error-data"> <%=errors.password.msg%> </span> 
                            <%}%>
                    </div>

                </form>


                </div>
    </body>

    </html>